<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <% data.forEach((item) => { %>
            <tr>
                <td><%= item.site_code %></td>
                <td><%= item.name %></td>
                <td><%= item.phone_number %></td>
                <td><%= item.equipments %></td>
                <td><%= item.completion_date %></td>
                <td><%= item.use_stop_control %></td>
            </tr>
            <% }); %>
    </table>
</body>
</html>